@import "_variables"

.content .content-bil
    @media mq-normal
        flex-direction: row
    @media mq-tablet
        flex-direction: row
    @media mq-mobile
        flex-direction: column

.article-bil-column
    display: inline
    float: left
    @media mq-normal
        width: calc(50% - 10px)
        &.bil-left-column
            padding: 0 10px 0 0
        &.bil-right-column
            padding: 0 0 0 10px
    @media mq-tablet
        width: calc(50% - 10px)
        &.bil-left-column
            padding: 0 10px 0 0
        &.bil-right-column
            padding: 0 0 0 10px
    @media mq-mobile
        width: 100%

#main
    width: 100%

/* 隐藏侧边信息卡片 */
aside#profile
    display: none

/* 平铺右边文章列表栏 */
aside#sidebar
    display: block
    width: 100%;