@import "_variables"

.article-bil-column
    display: inline
    float: left
    @media (min-width: 500px)
        width: calc(50% - 10px)
        &.bil-first-column
            padding: 0 10px 0 0
        &.bil-second-column
            padding: 0 0 0 10px
    @media all
        width: calc(50% - 10px)
        &.bil-first-column
            padding: 0 10px 0 0
        &.bil-second-column
            padding: 0 0 0 10px
    // @media mq-normal
    //     width: calc(50% - 10px)
    //     &.bil-first-column
    //         padding: 0 10px 0 0
    //     &.bil-second-column
    //         padding: 0 0 0 10px
    // @media mq-tablet
    //     width: calc(50% - 10px)
    //     &.bil-first-column
    //         padding: 0 10px 0 0
    //     &.bil-second-column
    //         padding: 0 0 0 10px
    // @media mq-mobile
    //     width: 100%
    // @media mq-mini
    //     width: 100%

#main
    width: 100%

/* 隐藏侧边信息卡片 */
aside#profile
    display: none

/* 平铺右边文章列表栏 */
aside#sidebar
    display: block
    width: 100%;